<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Extracted Lat/lon from images in <%= @path %></title>
</head>
<body>
<h2>Extracted at <%= @time.strftime('%d/%m/%Y at %H:%M:%S') %></h2>
<table>
  <thead>
  <tr>
    <th>Img Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  </thead>
  <tbody>
  <% @data.each do |line| %><tr>
    <td><%= line.name %></td>
    <td><%= line.latitude %></td>
    <td><%= line.longitude %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</body>
</html>